{{>navigation}}
  <main class="container">
    {{>errors}}
    {{>messages}}
  </main>

<form class="formulario" action='/login' method="POST">
<div class="form-content">
  <h1 class='animate__fadeInUp'>Login</h1>
  {{!--
  <div class="form-group">
    --}}
  <img class="animate__fadeInUp" src="https://img.icons8.com/metro/76/000000/change-user-male.png"/>
    <input
      type="email"
      class="form-control animate__fadeInUp"
      id="correo"
      placeholder="CORREO"
      name="registroCorreo"
      autocomplete='email'
      required
    />

    <input
      type="password"
      class="form-control animate__fadeInUp"
      id="password"
      placeholder="PASSWORD"
      name="registroPassword"
      required
    />
  <div class="content-buttons">
    <button 
       type="submit" 
       class="btn btn-primary" 
       >
      Send
    </button>
  </div>
  </div>
</form>
