<main class="profile">
  <div class="profile_container animate__fadeInUp">
    <h1>hola {{nickname}} !</h1>
    <a href="/login">
      <button class="btn btn-danger">
        <strong>
          salir
        </strong>
      </button>
    </a>
  </div>
</main>
