<nav class="content-nav">
  <ul class="nav nav-pills">
    <li class='nav-item animate__fadeInLeft'>
      <a 
        rel="noopener"
        href="https://www.github.com/bimbaquingoch/authPiano" 
        target="_blank">
        <img class='github animate__bounce' src="https://img.icons8.com/fluent/40/000000/github.png" alt="githubLogo"/>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link animate__fadeInLeft" href="/">
        <strong>
        Registro
        </strong>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link animate__fadeInLeft" href="/login">
        <strong>
        Iniciar Sesión
        </strong>
      </a>
    </li>
  </ul>
</nav>
